In [11]:
#Se quiere importar un archivo pickle con un diccionario y transformarlo en un dataframe de pandas

import pandas as pd
import pickle
import re
import numpy as np
#Se importa el archivo pickle
with open('scrap_info_alq.pkl', 'rb') as f:
    diccionario = pickle.load(f)


with open('scrap_info.pkl', 'rb') as f:
    diccionario2 = pickle.load(f)
#Se transforma el diccionario en un dataframe
df = pd.DataFrame(diccionario)
df2 = pd.DataFrame(diccionario2)
#Ahora se cambia las filas por las columnas
df = df.T
df2 = df2.T
df.head()
df2.head()

#Ahora unimos los dos dataframes
df_def = pd.concat([df,df2])
#Limpiamos la columna de precio quitando el simbolo de € y quitando el /mes

df_def['Precio'] = df_def['Precio'].str.replace('€','')
df_def['Precio'] = df_def['Precio'].str.replace('/mes','')

#transformamos el el precio a numerico	
df_def['Precio'] = df_def['Precio'].str.replace('.','')

#Eliminamos la fila que Precio que pone por consultar
df_def = df_def[df_def['Precio'] != 'precio a consultar']

#Transformamos la columna de precio a numerico
df_def['Precio'] = pd.to_numeric(df_def['Precio'])

#vemos el tipo de datos de cada columna
df_def.dtypes

df_def.head()

,Precio,Descripcion,Otras_caractericas,Caracteristicas,Eficiencia_energetica
https://www.indomio.es/anuncios/95227781/,1155,Se alquila piso amueblado de 3 habitaciones en...,"[Instalación tv individual, Amueblado]",{'Referencia y fecha del anuncio': '635423 - 2...,{'Emisiones de CO₂': 'No indicado'}
https://www.indomio.es/anuncios/95146207/,1540,PISO ESTUDIANTES PARA ENTRAR A PARTIR DEL 1RO ...,"[Exterior, Amueblado]",{'Referencia y fecha del anuncio': '679 - 21/0...,"{'estado': 'Bueno / Habitable', 'certificación..."
https://www.indomio.es/anuncios/94613177/,2500,Disponible para el alquiler MENSUAL O ANUAL. E...,"[Terraza, Amueblado, Trastero]",{'Referencia y fecha del anuncio': 'I-00KU41-W...,{'certificación energética': 'Pediente de cert...
https://www.indomio.es/anuncios/94500757/,2500,Disponible para el alquiler MENSUAL O ANUAL. E...,"[Terraza, Amueblado, Trastero]",{'Referencia y fecha del anuncio': 'I-00KTO8-W...,"{'Eficiencia energética': 'G368 kWh/m² año', '..."
https://www.indomio.es/anuncios/95223135/,550,** El rincón acogedor ** _Porque no necesito m...,"[Instalación tv individual, Amueblado]",{'Referencia y fecha del anuncio': '342394 - 2...,{'Emisiones de CO₂': 'No indicado'}

Tras llamar al dataset y limpiar la columna del precio se va intentar construir un dataframe con columnas de m^2 número de habitaciones, baños etc.

In [19]:
# Lista para almacenar los resultados
resultados = []

for i in range(0, len(df_def)):
    # Obtén la información sobre las habitaciones de la fila actual
    habitaciones_info = df_def["Caracteristicas"][i].get("habitaciones")
    
    # Verificar si habitaciones_info no es None
    if habitaciones_info:
        # Buscar el número que acompaña a la palabra "dormitorio"
        dormitorios_numero = re.search(r'(\d+) dormitorios', habitaciones_info)
        if dormitorios_numero:
            dormitorios = dormitorios_numero.group(1)
        else:
            dormitorios = None
    else:
        dormitorios = None
    
    # Agregar el resultado a la lista
    resultados.append(dormitorios)

# Agregar la lista como una nueva columna al DataFrame
df_def['Habitaciones'] = resultados

df_def["Habitaciones"] = pd.to_numeric(df_def["Habitaciones"])
df_def["Habitaciones"].dtype
#Quiero imputar los valores NaN de la columna Habitaciones con interpolación lineal
# # Imputar los valores NaN con interpolación lineal
df_def["Habitaciones"] = df_def["Habitaciones"].interpolate(method="linear")
# # Mostrar el DataFrame con la nueva columna
print(df_def["Habitaciones"])

0       3.0
1       4.0
2       2.0
3       2.0
4       2.0
       ...
1553    3.0
1554    2.0
1555    2.0
1556    3.0
1557    2.0
Name: Habitaciones, Length: 1558, dtype: float64

In [21]:
#Ahora se realiza lo mismo con los baños

resultados = []

for i in range(0, len(df_def)):
    # Obtén la información sobre las habitaciones de la fila actual
    habitaciones_info = df_def["Caracteristicas"][i].get("habitaciones")
    
    # Verificar si habitaciones_info no es None
    if habitaciones_info:
        # Buscar el número que acompaña a la palabra "dormitorio"
        dormitorios_numero = re.search(r'(\d+) baño[s]?', habitaciones_info)
        if dormitorios_numero:
            dormitorios = dormitorios_numero.group(1)
        else:
            dormitorios = None
    else:
        dormitorios = None
    
    # Agregar el resultado a la lista
    resultados.append(dormitorios)

# Agregar la lista como una nueva columna al DataFrame
df_def['Baños'] = resultados
df_def["Baños"] = pd.to_numeric(df_def["Baños"])
df_def["Baños"].dtype
#Quiero imputar los valores NaN de la columna Habitaciones con interpolación lineal
# # Imputar los valores NaN con interpolación lineal
df_def["Baños"] = df_def["Baños"].interpolate(method="linear")
# # Mostrar el DataFrame con la nueva columna
print(df_def["Baños"])

0       1.0
1       1.0
2       1.0
3       2.0
4       1.0
       ...
1553    1.0
1554    2.0
1555    2.0
1556    1.0
1557    1.0
Name: Baños, Length: 1558, dtype: float64

In [22]:
import re

metros_cuadrados_lista = []
for i in range(0, len(df_def)):
    # Convertir la entrada de la columna "Descripcion" a cadena de texto
    texto = str(df_def["Descripcion"][i])
    
    # Buscar los metros cuadrados usando una expresión regular
    metros_cuadrados_match = re.search(r'(\d+(?:\.\d+)?)\s*(?:m²|m2|metros\s+cuadrados|metros)', texto)
    
    # Verificar si se encontró la información de los metros cuadrados
    if metros_cuadrados_match:
        metros_cuadrados = float(metros_cuadrados_match.group(1))  # Convertir a float en lugar de int
    else:
        metros_cuadrados = None
    
    # Agregar el resultado a la lista
    metros_cuadrados_lista.append(metros_cuadrados)

print(metros_cuadrados_lista)

#Ahora transformamos la lista en una columna del dataframe que sea metros cuadrados
df_def["Metros cuadrados"] = metros_cuadrados_lista

df_def["Metros cuadrados"] = pd.to_numeric(df_def["Metros cuadrados"])
df_def["Metros cuadrados"].dtype
#Quiero imputar los valores NaN de la columna Habitaciones con interpolación lineal
# # Imputar los valores NaN con interpolación lineal
df_def["Metros cuadrados"] = df_def["Metros cuadrados"].interpolate(method="linear")
# # Mostrar el DataFrame con la nueva columna
print(df_def["Metros cuadrados"])

[None, 120.0, None, None, None, None, None, None, None, None, None, 99.0, None, 130.0, None, 161.0, 134.0, None, None, 175.0, None, 170.0, None, 161.0, None, None, None, None, None, 130.0, None, None, 90.0, None, None, 800.0, None, None, None, 90.0, 120.0, None, None, None, 2.0, None, None, 165.0, 2.0, None, None, None, None, None, None, None, None, None, 30.0, 200.0, 200.0, None, 46.0, 75.0, None, None, None, None, None, 120.0, None, None, None, None, None, 85.0, None, None, 13.0, None, 13.0, 105.0, None, None, None, None, 120.0, None, None, 13.0, 13.0, 180.0, 10.0, None, 110.0, 75.0, 13.0, None, 125.0, 70.0, 166.0, None, None, None, 93.0, None, 125.0, 125.0, 160.0, 125.0, 90.0, None, 55.0, None, None, 12.0, 90.0, None, None, 138.0, 81.0, None, None, None, None, 75.0, None, None, 88.0, None, None, None, None, 15.0, None, None, 150.0, 93.0, None, None, None, None, None, None, 40.0, 100.0, None, None, 80.0, None, None, None, 50.0, None, None, None, None, None, None, 79.0, None, 135.0, None, 50.0, 80.0, None, 76.0, None, None, 95.0, None, 150.0, None, None, 4.0, None, 208.0, None, None, None, 100.0, None, None, None, None, None, None, 18.0, None, None, None, 90.0, None, 90.0, None, None, 90.0, None, None, None, 80.0, None, None, 60.0, 500.0, 98.0, None, 70.0, None, None, None, None, None, None, None, None, None, 63.0, None, None, None, 50.0, None, 80.0, None, None, None, 50.0, None, None, None, None, None, None, None, None, None, 70.0, 90.0, 75.0, None, None, 90.0, None, 90.0, None, 180.0, None, None, None, None, None, 110.0, None, None, 95.0, 120.0, None, None, 26.0, None, None, None, 90.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 82.0, 70.0, None, None, None, 60.0, 200.0, None, None, None, None, None, 38.0, None, None, None, 90.0, 38.0, None, None, None, None, None, None, None, 40.0, 215.0, None, None, 94.0, None, 154.0, None, 160.0, None, None, None, 70.0, None, 195.0, None, None, None, None, None, 38.0, 140.0, 126.0, 99.0, None, None, None, None, None, None, None, None, None, 50.0, None, None, 100.0, None, None, None, None, None, None, 150.0, None, None, None, 6.0, 30.0, None, None, None, None, 59.0, None, None, None, 60.0, None, None, 60.0, 55.0, None, None, None, None, None, None, None, None, None, 120.0, None, None, None, None, None, None, None, None, None, 156.0, None, None, None, None, None, None, None, None, None, 186.0, None, None, None, None, None, None, 80.0, 120.0, 30.0, None, None, None, None, None, None, None, None, None, None, None, None, 82.0, None, None, 122.0, None, 79.0, None, None, None, 120.0, None, None, None, None, 120.0, None, None, None, None, None, None, None, None, None, None, None, None, None, 15.0, 115.0, 60.0, None, None, None, 106.0, 50.0, 170.0, 130.0, None, None, None, None, 71.0, None, 120.0, None, None, None, 85.0, None, None, 89.0, 150.0, 50.0, None, 120.0, None, None, None, None, None, None, None, 100.0, None, 40.0, None, 125.0, None, None, None, None, 100.0, None, None, None, 100.0, None, 235.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 30.0, None, 40.0, None, None, None, 100.0, 180.0, 117.0, 242.0, None, 117.0, None, None, None, None, None, None, None, 118.0, None, 200.0, None, None, 160.0, 800.0, None, None, None, None, None, None, None, 100.0, None, None, None, 100.0, None, None, None, 45.0, None, None, None, 60.0, None, None, None, None, None, None, 114.0, None, None, None, None, None, None, 110.0, None, None, None, None, 101.0, None, None, 95.0, None, None, None, 90.0, None, None, None, None, None, None, None, 120.0, None, 20.0, None, None, None, 84.0, None, 40.0, None, None, None, 188.0, 131.0, 86.0, 86.0, None, 82.0, 107.0, 70.0, None, None, 75.0, None, None, 150.0, 61.0, None, None, None, 139.0, 119.0, None, 107.0, 135.0, 150.0, 135.0, 17.0, None, 175.0, None, 155.0, 135.0, 175.0, 188.0, None, 24.0, None, None, 60.0, None, 109.0, 2380.0, 100.0, None, 1739.0, None, 93.0, None, None, None, None, 90.0, 100.0, 53.0, 100.0, None, None, None, 83.0, None, None, None, None, 30.0, 227.0, 30.0, None, None, 179.0, None, None, 200.0, 228.0, 100.0, 100.0, None, None, 15.0, 400.0, 80.0, 321.0, 40.0, None, 196.0, None, 5000.0, 90.0, 95.0, 150.0, None, None, None, None, 117.0, None, 50.0, 220.0, None, None, None, 89.0, 60.0, 68.0, 120.0, 108.0, 130.0, None, None, 60.0, 145.0, 50.0, None, 55.0, 25.0, None, 170.0, None, None, None, 15.0, None, 450.0, None, None, None, 196.0, 300.0, 152.0, 125.0, None, None, None, None, None, None, 450.0, None, None, 160.0, 55.0, None, 120.0, None, 50.0, 160.0, 300.0, None, 5.0, 260.0, None, None, None, 305.0, None, None, None, None, None, None, 74.0, 95.0, 80.0, None, None, 122.0, 90.0, None, 40.0, None, None, 65.0, None, 64.0, 125.0, 84.0, 152.0, 144.0, 124.0, 107.0, 123.0, 123.0, 12.0, 130.0, None, 144.0, 144.0, None, 12.0, 70.0, 84.0, None, 150.0, None, None, 150.0, None, None, None, 103.0, None, None, None, None, None, 210.0, None, None, None, None, 61.0, None, None, None, None, 45.0, None, 158.0, 76.0, 100.0, 66.0, 87.0, None, 110.0, 260.0, None, None, 103.0, None, 46.0, None, None, None, None, None, 100.0, 403.0, None, None, 65.0, 45.0, 95.0, None, None, 105.0, None, 94.0, None, 155.0, None, 98.0, None, 97.0, 143.0, None, None, 71.0, None, None, None, None, None, 66.0, None, None, None, None, 100.0, None, None, None, None, None, None, None, 300.0, None, 87.0, None, None, None, None, None, 74.0, None, None, 22.0, None, 133.0, None, 122.0, None, 69.0, 90.0, None, None, 74.0, 133.0, None, None, None, None, None, None, 110.0, None, 133.0, None, 60.0, None, None, None, None, None, 100.0, 118.0, 88.0, None, 96.0, 6.0, 25.0, None, 213.0, 170.0, 170.0, None, 12.0, None, 40.0, 13.0, 9500.0, 106.0, 40.0, None, None, 17.0, None, 119.0, None, None, 150.0, 150.0, None, 75.0, 150.0, None, None, 100.0, 51.0, 45.0, 70.0, 80.0, None, 64.0, None, 58.0, None, None, None, 20.0, None, None, None, None, None, None, None, 70.0, 80.0, None, None, 85.0, None, 92.0, None, 82.0, 110.0, 35.0, None, 261.0, None, None, 109.0, None, 8.0, 372.0, None, None, 42.0, 188.0, None, None, None, 158.0, 263.0, 214.0, None, 208.0, 236.0, 59.0, None, 73.0, 197.0, 145.0, 156.0, None, 266.0, 156.0, None, 395.0, None, 200.0, None, 169.0, 220.0, 40.0, 1000.0, None, 136.0, None, None, 177.0, 154.0, 114.0, None, 265.0, None, 1618.0, 191.0, None, None, 120.0, 140.0, 400.0, None, None, None, 40.0, 240.0, 191.0, 139.0, None, 310.0, 156.0, 265.0, 183.0, None, None, 146.0, 192.0, None, 54.0, 185.0, 84.0, None, None, None, None, 150.0, None, None, 160.0, 30.0, 384.0, None, None, None, 600.0, 1320.0, 3.0, None, None, 600.0, None, None, None, 114.0, None, 240.0, None, 355.0, None, None, None, None, 282.0, 109.0, 208.0, 193.0, None, None, None, None, None, 140.0, None, 167.0, 200.0, 233.0, None, None, 60.0, 97.0, 300.0, None, None, 30.0, None, None, None, 200.0, 97.0, None, None, None, 300.0, 250.0, None, 30.0, 300.0, 51.0, 170.0, 164.0, None, 167.0, None, 732.0, 370.0, None, 164.0, 77.0, None, None, 70.0, 140.0, None, 90.0, None, None, None, 23.0, 167.0, 75.0, 260.0, 167.0, 89.0, 260.0, 488.0, 498.0, 139.0, 145.0, 450.0, 20.0, 90.0, 95.0, 66.0, 68.0, 155.0, 155.0, None, None, 366.0, 140.0, None, 85.0, None, 25.0, 700.0, 64.0, None, None, None, 90.0, 200.0, None, None, 107.0, None, None, None, 225.0, 75.0, 30.0, 74.0, 74.0, 89.0, 500.0, None, None, None, None, 74.0, 200.0, None, 8.0, None, 64.0, 6.0, 80.0, None, 85.0, None, None, 73.0, 260.0, None, 77.0, 87.0, 115.0, None, 140.0, None, None, None, None, None, 500.0, None, None, 90.0, 104.0, 95.0, None, None, None, None, None, None, None, None, None, 130.0, None, 633.0, None, 76.0, 110.0, 45.0, 50.0, 95.0, 118.0, None, 60.0, None, 89.0, None, None, 94.0, None, None, None, None, 71.0, 60.0, None, None, 400.0, 77.0, 61.0, None, 80.0, 160.0, 90.0, None, 81.0, 102.0, None, None, None, None, None, None, None, 129.0, None, 400.0, None, None, None, 68.0, 23.0, 5.453, 5453.0, 160.0, 56.0, None, None, None, 156.0, None, 119.0, None, 45.0, None, None, 119.0, 42.0, 65.0, 100.0, None, None, 68.0, None, None, None, None, None, 42.0, None, None, None, 85.0, None, 125.0, None, 83.0, None, None, 151.0, None, 125.0, None, None, None, 88.0, 129.0, None, None, 147.0, None, None, None, 156.0, 15.0, None, 55.0, 15.0, 151.0, None, 138.0, 12.0, None, 35.0, 67.0, 80.0, 153.0, 92.0, None, 56.0, 125.0, 200.0, 16.0, None, 200.0, 16.0, 200.0, 16.0, 200.0, 16.0, 95.0, None, 16.0, 16.0, 16.0, 90.0, None, 158.0, 149.0, 129.0, None, None, 205.0, 89.0, 79.0, 211.0, 40.0, None, None, 120.0, None, None, 132.0, 112.0, None, 197.0, 165.0, None, None, None, 72.0, 30.0, None, 55.0, 220.0, None, None, None, 153.0, None, None, 145.0, 113.0, 38.0, 180.0, 191.0, 383.0, None, None, None, 130.0, 200.0, 110.0, 365.0, 130.0, 269.0, None, 120.0, 365.0, 170.0, None, 261.0, 139.0, 365.0, 40.0, 139.0, 106.0, 261.0, 218.0, 246.0, None, None, None, None, None, 130.0, 1272.0, None, None, None, 88.0, 179.0, 156.0, None, 95.0, None, 187.0, 335.0, 545.0, None, 300.0, None, None, 86.0, None, 156.0, None, 52.0, 128.0, None, 80.0, 200.0, 101.0, None, None, None, 70.0, 133.0, 133.0, None, None, 133.0, 20.0, 120.0, None, 128.0, 172.0, 201.0, 80.0, 172.0, None, None, 94.0, None, 210.0, None, None, 103.0, 74.0, 151.0, 15.0, 15.0, None, None, None, 116.0, 75.0, 12.0, None, None, 95.0, None, 120.0, None, 86.0, 100.0, None, 157.0, 55.0, 50.0, 60.0, 124.0, None, 52.0, 25.0, 70.0, 120.0, None, 120.0, 80.0, 60.0, 292.0, 123.0, None, 156.0, 156.0, 25.0, None, None, 39.0, 63.0, 90.0, None, 98.0, None, 185.0, None, 86.0, None, 25.0, None, 135.0, None, None, None, 22.0, None, None, 130.0, None, None, 104.0, 95.0, None, None, None, None]
0         NaN
1       120.0
2       117.9
3       115.8
4       113.7
        ...
1553     95.0
1554     95.0
1555     95.0
1556     95.0
1557     95.0
Name: Metros cuadrados, Length: 1558, dtype: float64

In [22]:
#Ahora se va a visualizar el tipo de contrato que se tiene en cada piso.


#Se crea una lista para almacenar los resultados
resultados = []
for i in range(0, len(df_def)):
    contrato = df_def["Caracteristicas"][i].get("contrato")
    
    if contrato:
        contrato = contrato.lower()
    else:
        contrato = "no especificado"
    
    resultados.append(contrato)

df_def["Contrato"] = resultados

C:\Users\alexn\AppData\Local\Temp\ipykernel_14344\3358648040.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  contrato = df_def["Caracteristicas"][i].get("contrato")

In [23]:

#Se cambia el tipo de datos de las columnas habitaciones, baños a numerico y el de contrato a stirng
# df_def["Habitaciones"] = pd.to_numeric(df_def["Habitaciones"])
# df_def["Baños"] = pd.to_numeric(df_def["Baños"])
# df_def["Contrato"] = df_def["Contrato"].astype(str)


df_def.dtypes

Precio                    int64
Descripcion              object
Otras_caractericas       object
Caracteristicas          object
Eficiencia_energetica    object
Habitaciones             object
Baños                    object
Metros cuadrados         object
Contrato                 object
dtype: object

In [24]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import pandas as pd
import re

# Descargar los recursos necesarios para NLTK
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

def preprocess_text(text):
    if text is None:
        return ''
    # Convertir texto a minúsculas
    text = text.lower()
    # Eliminar caracteres especiales y números
    text = re.sub(r'[^a-záéíóúüñ\s]', '', text)
    # Tokenización
    tokens = nltk.word_tokenize(text)
    # Eliminar stopwords
    stop_words = set(stopwords.words('spanish'))
    tokens = [word for word in tokens if word not in stop_words]
    # Lematización
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    return ' '.join(tokens)

df_def['Descripcion'] = df_def['Descripcion'].apply(preprocess_text)

print(df_def['Descripcion'])

tfidf_vectorizer = TfidfVectorizer(max_features=1000)
X = tfidf_vectorizer.fit_transform(df_def['Descripcion'])
print(X)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\alexn\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\alexn\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\alexn\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

https://www.indomio.es/anuncios/95227781/    alquila piso amueblado habitaciones carrer del...
https://www.indomio.es/anuncios/95146207/    piso estudiantes entrar partir ro febrero juni...
https://www.indomio.es/anuncios/94613177/    disponible alquiler mensual anual bajo dormito...
https://www.indomio.es/anuncios/94500757/    disponible alquiler mensual anual bajo dormito...
https://www.indomio.es/anuncios/95223135/    rincón acogedor necesito espacio gustará aquí ...
                                                                   ...
https://www.indomio.es/anuncios/95007509/    atico m valencia valencia solidinmuebles vende...
https://www.indomio.es/anuncios/94958481/    venden pisos obra nueva camino moncada trata r...
https://www.indomio.es/anuncios/95006805/    vende exclusiva viviendas obra nueva calle arq...
https://www.indomio.es/anuncios/95313313/    vende piso barrio tormoseste luminoso apartame...
https://www.indomio.es/anuncios/95319871/    piso ideal inversionistas gran oportunidad adq...
Name: Descripcion, Length: 1558, dtype: object
  (0, 13)	0.2535053067231959
  (0, 32)	0.23365140505994478
  (0, 499)	0.36604544657069343
  (0, 751)	0.32615957416301583
  (0, 161)	0.49000178511348746
  (0, 469)	0.2424117321865156
  (0, 65)	0.38511225991676107
  (0, 705)	0.21593450859604135
  (0, 42)	0.38336455436891115
  (1, 861)	0.13881766923619246
  (1, 488)	0.12802204690779995
  (1, 989)	0.15064277238967624
  (1, 920)	0.2148856419249927
  (1, 87)	0.07154281145283409
  (1, 277)	0.10364656080213479
  (1, 992)	0.04000322333007827
  (1, 171)	0.06038286595310382
  (1, 539)	0.11139157042743102
  (1, 143)	0.06220272929740827
  (1, 683)	0.09276557035240453
  (1, 267)	0.06960428758057938
  (1, 91)	0.08697050350999928
  (1, 163)	0.06472489790130596
  (1, 596)	0.11193284373247445
  (1, 601)	0.09898447732698289
  :	:
  (1557, 250)	0.12330655482606254
  (1557, 597)	0.231344824457605
  (1557, 71)	0.12151226095195897
  (1557, 791)	0.2042940826350853
  (1557, 244)	0.22334371185515503
  (1557, 509)	0.2765746014977425
  (1557, 962)	0.2338896755659169
  (1557, 845)	0.12911508453372142
  (1557, 410)	0.11398060004562967
  (1557, 668)	0.12664929913022657
  (1557, 326)	0.10121521518000601
  (1557, 587)	0.19695521482669393
  (1557, 931)	0.14042364217098433
  (1557, 983)	0.12164800308662818
  (1557, 105)	0.11648868663260563
  (1557, 459)	0.11104134273232716
  (1557, 113)	0.09441046610316345
  (1557, 273)	0.09773822578744634
  (1557, 488)	0.2579146602529883
  (1557, 171)	0.12164800308662818
  (1557, 839)	0.17099492831203872
  (1557, 95)	0.18299329606430945
  (1557, 827)	0.10175843651120839
  (1557, 469)	0.0919599078061405
  (1557, 705)	0.3276626477364993

In [25]:
# Obtener los 5 pisos más comunes basados en la columna 'Descripcion', "Precio", "Habitaciones", "Baños", "Metros cuadrados" y "Contrato"

# Seleccionar las columnas relevantes
columns = ['Descripcion', 'Precio', 'Habitaciones', 'Baños', 'Metros cuadrados', 'Contrato']
df_filtered = df_def[columns]

#descripcion = "con terraza y vistas al mar"
min_bedrooms = 2
max_price = 1500
min_bathrooms = 1
min_sqft = 120
contrato = "alquiler"

# Filtrar el DataFrame por habitaciones, precio, baño y metros cuadrados
filtered_df = df_filtered[(df_filtered['Habitaciones'] >= min_bedrooms) &
                          (df_filtered['Precio'] <= max_price) &
                          (df_filtered['Baños'] >= min_bathrooms) &
                          (df_filtered['Metros cuadrados'] >= min_sqft) &
                          (df_filtered['Contrato'] == contrato)]
                          #(df_filtered['Descripcion'].str.contains(descripcion))

# Crear un vectorizador TF-IDF
tfidf_vectorizer = TfidfVectorizer(max_features=1000)
X_filtered = tfidf_vectorizer.fit_transform(filtered_df['Descripcion'])

# Calcular la similitud de coseno entre las descripciones
similarities = cosine_similarity(X_filtered)

# Calcular la similitud total para cada piso
total_similarities = similarities.sum(axis=1)

# Obtener los índices de los 5 pisos más comunes
top_indices = total_similarities.argsort()[::-1][:5]

# Mostrar los 5 pisos más comunes
print(df_filtered.iloc[top_indices])

TypeError: '>=' not supported between instances of 'str' and 'int'